body {
  background: hsl(212, 45%, 89%);
  text-align: center;
}

h1 {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  font-size:1.5em;
}

p {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: hsl(220, 15%, 55%);
}

.box {
  display: flex;
}

.box div {
  width: 320px;
  height: auto;
  background: hsl(0, 0%, 100%);
  padding:20px;
  border-radius: 10px;
  margin: 100px auto auto;
  box-shadow: 1px 1px 15px hsl(220deg 15% 55%);
}

.box div img {
  flex:285px;
  margin-bottom: 10px;
}

footer {
  bottom:0;
  padding-top: 20px;
}

footer.attribution {
  font-size: .5rem;
}